node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


vue-test/node_modules
vue-test/.vscode
react-test/node_modules
react-test/.vscode
vue-test/logs
react-test/logs
vue-test/dist
react-test/dist
vue-test/dist-ssr
react-test/dist-ssr
vue-test/.idea
react-test/.idea
vue-test/.DS_Store
react-test/.DS_Store
